<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Atalhos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle><ion-item [routerLink]="['/home']"><ion-icon name="briefcase" slot="end" color="tertiary"></ion-icon>Inicio</ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item [routerLink]="['/cursos']"><ion-icon name="person" slot="end" color="tertiary"></ion-icon>Cursos</ion-item></ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
